{
  "extends": "@porscheofficial/eslint-config-porschedigital-react",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "import/no-default-export": "off",
    "@typescript-eslint/no-magic-numbers": "off",
    "no-continue": "off"
  }
}
