.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-section {
  width: 100%;
  min-height: 100vh;
  background: #fff;
}

.App-navigation {
  position: sticky;
  top: 0;
  background: #282c34;
  padding: 1rem 0;
}

.App-navigation-item {
  padding: 0 1rem;
  color: #fff;
  font-size: 1.2rem;
}
.App-navigation-item--active {
  font-weight: bold;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
